* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Cabin Sketch';
    src: url('./font/CabinSketch-Bold.ttf');
}

body::after {
  content: "";
  background: url(./img/arrows.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

h1 {
  text-align: center; 
  font-family: 'Cabin Sketch';
  font-size: 3em;
  margin: 0;
}

.control {
  display: flex;
  justify-content: center;
  margin: 0px 0px 15px 0px;
}

.control img {
  margin: 0px 5px 0px;
}

#random {
  margin-right: 150px;
}

#container {
  display: grid;
  height: 425px;
  width: 425px;
  margin: auto;
}
  
.grid-item {
  border: 1px solid rgba(0,0,0,.1);
  background-color: white;
}

button {
  font-family: Arial; 
  font-size: 1rem;
  font-weight: bold; 
  color: rgba(0,0,0,.8);
  height: 3rem;
  width: 6rem; 
  border-radius: 0.5rem;
  border: 2px solid rgba(0,0,0, .5);
  margin: 0px 8px 0px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.075);
  transition: .1s ease;
}

img:hover {
  cursor: pointer;
  transform: scale(1.15);
  transition: .3s ease;
}

img.on {
  transform: scale(1.3);
}

button.active {
  background-color: rgb(148, 118, 123);
  color: white; 
}

#reset {
  background-color: darkred;
  color: white; 
}
